@model Order

<div>
	<h2 class="text-center">Making an order</h2>
    <div>
        <h4 class="mb-3">Billing address</h4>
        <form method="post" asp-action="Chekout">
            <div class="row g-3">
            <div class="col-sm-6">
                <label asp-for="name" class="form-label"></label>
                <div>
                    <input asp-for="name" type="text" class="form-control" placeholder="Your name" required="">
                    <span asp-validation-for="name" class="text-danger">
                </span>
                </div>
            </div>

            <div class="col-sm-6">
                <label asp-for="surname" class="form-label"></label>
                <div>
                    <input asp-for="surname" type="text" class="form-control" placeholder="Your last name" required="">
                    <span asp-validation-for="surname" class="text-danger">
                </span>
                </div>
            </div>

            <div class="col-12">
                <label asp-for="email" class="form-label"></label>
                
                <div>
                    <input asp-for="email" type="email" class="form-control" placeholder="you@example.com" required=""/>
                    <span asp-validation-for="email" class="text-danger">
                </span>
                </div>
            </div>

            <div class="col-12">
                <label asp-for="adress" class="form-label"></label>
                <div>
                    <input asp-for="adress" type="text" class="form-control" placeholder="Sity Zip, St. 1234/123" required="">
                    <span asp-validation-for="adress" class="text-danger">
                </span>
                </div>
            </div>

            <div class="col-12">
                <label asp-for="phone" class="form-label"></label>
                <div>
                    <input asp-for="phone" type="text" class="form-control" placeholder="+1234567890" required="">
                    <span asp-validation-for="phone" class="text-danger">
                </span>
                </div>
            </div>
            </div>

            <hr class="my-4">

            <input class="w-100 btn btn-success btn-lg" type="submit" value="Complete to order"/>
            @Html.ValidationSummary()
        </form>
    </div>
</div>